body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Philosopher', sans-serif;
}

#welcome{
  color: #ffffff;
  font-family: 'Pacifico', cursive;
  font-size: 5em;
}

#services-title{
  text-align: center;
  background-color: #f8f8f8;
  padding-bottom: 55px;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar.past-main {
  background-color:black;
  color: black;
  -webkit-box-shadow: -1px 9px 18px 3px rgba(105,105,105,0.84);
  -moz-box-shadow: -1px 9px 18px 3px rgba(105,105,105,0.84);
  box-shadow: -1px 9px 18px 3px rgba(105,105,105,0.84);
}

.navbar-default {
  background-color: #222222;
  border-color: transparent;
}
.navbar-default .navbar-brand {
  color: #C7C7C7;
  font-family: 'Pacifico', cursive;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
  color: #C7C7C7;
}
.navbar-default .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-default .navbar-toggle {
  background-color: #C7C7C7;
  border-color: #C7C7C7;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #C7C7C7;
}
.navbar-default .nav li a {
  font-family: 'Philosopher', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
  font-size: 1.3em;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  font-size: 1.5em;
}
.navbar-default .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #C7C7C7;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #C7C7C7;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-default .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-default .navbar-nav > .active > a {
    border-radius: 3px;
  }
  .navbar-default.navbar-shrink {
    background-color: #222222;
    padding: 10px 0;
  }
  .navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}

.header-container{
  width:100%;
  height: 0;
  border-left: none;
  border-right: none;
  position: relative;
  padding-bottom: 56.25%;
}

.video-container{
  position:absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color:black;
}

video{
  position: absolute;
  z-index: -1
  opacity: 0.78;
  width: 100%;
}

#mute-button, #volume-button{
  color: white;
  font-size: 40px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.btn{
  margin: auto;
}

#meet-button{
  margin:auto;
}

.ready-info{
  padding-bottom:20px;
  margin-top: 100px;
  font-family: 'Pacifico', cursive;
}

.img-responsive{
  border-radius: 12px;
  width: 500px;
  height: 250px;
}

footer {
  margin-top: 25px;
  text-align: center;
  border-top: 5px double black;
}
footer span.copyright {
  line-height: 40px;
  font-family: 'Pacifico', cursive;
  text-transform: uppercase;
  text-transform: none;
  font-size: small;
  padding: 1em;
}

ul.social-buttons {
  margin-bottom: 0;
}

li.phone{
  margin-bottom: 10px;
  height:50px;
  width:100%;
  font-size: 30px;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  padding-top: 15px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #C7C7C7;
}


@media (max-width: 767px) {

  #welcome{
    font-size:1.5em;
  }

    .navbar-default {
    background-color: transparent;
  }
}